<footer>
  <div class="footer_info">
    <div class="f_info_socials">
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
    </div>
    <div class="f_info_brand">&copy;Travelers-Shelter</div>
    <div class="f_info_links">
      <a href="/privacy">Privacy</a>
      <a href="/term">Term</a>
    </div>
  </div>
</footer>
