<% layout("/layouts/boilerplate") -%>
<body>
  <h2>All Listing</h2>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListing){ %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card">
        <div>
          <img
            src="<%= listing.image %>"
            class="card-img-top"
            style="height: 20rem"
            ;
            alt="Listig-img"
          />

          <div class="card-img-overlay"></div>
        </div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b><br />
            &#8360; :<%= listing.price.toLocaleString("en-PK") %>/night<br />
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
